.choiceCards {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    text-decoration: none;
}
#new-sim:hover {
    background-color: #1f553e;
}

span > input {
    width: 70px;
    border-color: black;
    border-radius: 3px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

span > input:focus {
    background-color: ghostwhite;
}

span {
    margin-left: 10px;
}

textarea:focus {
    background-color: ghostwhite;
}

::placeholder {
    text-align: center;
}
