.choiceCards {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    text-decoration: none;
}
#new-sim:hover {
    background-color: #1f553e;
}

span > input {
    width: 70px;
    border-color: black;
    border-radius: 3px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

span > input:focus {
    background-color: ghostwhite;
}

span {
    margin-left: 10px;
}

textarea:focus {
    background-color: ghostwhite;
}

::placeholder {
    text-align: center;
}

/* Styling the sequence render */
pre {
    margin-bottom: -5px;
    letter-spacing: 5px;
}

.normal-sequence,
.repeat-sequence {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
}

.repeat-sequence {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

.normal-sequence .chain {
    padding: 1px 0px 5px 5px;
    border: solid black 1px;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: lightgoldenrodyellow;
}

.repeat-sequence .chain > pre {
    margin-left: 5px;
    /* border: solid black 1px;
    border-radius: 5px;
    margin-bottom: 5px; */
}

#resultviewer {
    max-height: 25em;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 0px;
    overflow: auto;
}

#viewer {
    max-height: 33.3em;
    overflow: hidden;
}
